body {
  background: url(https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg);
}
@media screen and (max-width: 719px) {
  .overview {
    display: flex;
    gap: 2rem;
  }
  .ip,
  .speedtest,
  .ci {
    width: 33%;
  }
}
.ip,
.speedtest,
.ci {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 1% auto;
  padding: 5px;
}
#sis {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  width: 100%;
  font-size: 20px;
}
.leak {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 12px;
}
.introducir {
  background: #fff;
  border-radius: 15px;
  padding: 5px;
}
#sis,
.leak,
.introducir {
  margin: 1% auto 1% auto;
  padding: 5px;
}
